Input parameters for the ANN are a partâ€™s build height,
volume, and volume of the bounding box

https://ac.els-cdn.com/S2212827117311411/1-s2.0-S2212827117311411-main.pdf?_tid=b0deaa3f-f652-4b19-8278-b976e361c1bd&acdnat=1551936301_13d0c2f42b1e33e1c2b7642e2f2e6ecc

In [37]:
import pandas as pd
import matplotlib.pyplot as plt

In [42]:
data  = pd.read_csv("data.csv")
data

   Build Height  Vol  Bounding Vol  Cost
0           9.0   21            12    32
1           8.0   65            75    54
2           7.0  118           138    76
3           6.0  171           201    98
4           5.0  224           264   120
5           4.0  277           327   142
6           3.0  330           390   164
7           1.0  383           453   186
8           0.5  436           516   208

#### Intitiate Model

In [43]:
X = data.drop("Cost",axis=1)
y = data["Cost"]

In [44]:
X

   Build Height  Vol  Bounding Vol
0           9.0   21            12
1           8.0   65            75
2           7.0  118           138
3           6.0  171           201
4           5.0  224           264
5           4.0  277           327
6           3.0  330           390
7           1.0  383           453
8           0.5  436           516

In [45]:
y

0     32
1     54
2     76
3     98
4    120
5    142
6    164
7    186
8    208
Name: Cost, dtype: int64

In [46]:
from sklearn.model_selection import train_test_split

In [47]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=101)

#### Training model

In [48]:
from sklearn.linear_model import LinearRegression
lm = LinearRegression()
lm.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

#### Predicting

In [49]:
predictions = lm.predict(X_test)

In [50]:
X_test

   Build Height  Vol  Bounding Vol
7           1.0  383           453
2           7.0  118           138
0           9.0   21            12
4           5.0  224           264

In [51]:
predictions

array([186.        ,  76.        ,  33.54824432, 120.        ])

#### Accuracy

In [52]:
accuracy = lm.score(X_test,y_test)
print(accuracy*100,'%')

99.98148559145768 %